

* {
    box-sizing: border-box;
}

body {
    position: relative;
    width: 437px;
    height: 306px;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

#sidebar {
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    height: 30vh;
    padding: 5px;
    z-index: 1000;
    display: none;

}

#sidebar ul {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

#sidebar ul li {
    padding: 5px 0;
}

#sidebar input, .sidebar button {
    text-align: center;
    width: 45px;
}

#sidebar li:last-of-type {
    margin-top: auto;
}

#sidebar button {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 20px;
}

#sidebar label {
    display: block;
    font-size: 12px;
    margin-bottom: 3px;
}

.secretButton {
    position: absolute;
    width: 176px;
    height: 47px;
    left: 130px;
    top: 198px;
    opacity: 0.5;
}
